<!DOCTYPE HTML>	
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		 <th:block th:replace="fragment :: head"></th:block>
	</head>
	<div><th:block th:replace="fragment :: navbar"></th:block></div>
	
<h1>Ecco i dipartiemnti</h1>
    <div th:if="${#lists.isEmpty(departmentsList)}">
        <h1>Spiacenti, non è disponibile una lista di dipartimenti</h1>>
      </div>
      <div th:unless="${#lists.isEmpty(departmentsList)}">


<hr/>
		<div>
		<li th:each="r : ${departmentsList}">
				<a th:text="${r.name}"  th:href="@{|/dipartimenti/${r.id}|}"></a>
			</li>
		</div>
			
</html>		
		