<!DOCTYPE HTML>	
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		 <th:block th:replace="fragment :: head"></th:block>
	</head>
	<div><th:block th:replace="fragment :: navbar"></th:block></div>
	
<hr/>
<h1>Ecco la lista dei corsi del professor:</h1>
<h2 th:text="${teacher.name}"></h2>
<div class="container">
  <div class="row">
    <div class="col-sm">
    	<div th:text="${teacher.name}"></div>      
    </div>
    <div class="col-sm">
    	<div th:text="${teacher.name}"></div>
    </div>
    <div  class="col-sm">
    	<div th:text="${teacher.name}"></div>
    </div>
  </div>
</div>

<div class="container">
		<h3 th:text="|Corsi tenuti da  ${teacher.name} + ${teacher.surname} :|"></h3>
		 <table class="table my-3">
	          <thead>
	            <tr>
	              <th class="text-center">Nome</th>
	              <th class="text-center">Descrizione</th>
	              <th class="text-center">Periodo</th>
	              <th class="text-center">Anno</th>
	              <th class="text-center">C.F.U.</th>
	              <th class="text-center">Sito Web</th>
	            </tr>
	          </thead>
	          <tbody>
	            <tr class="align-middle" th:each="tc : ${teacher.courses}">
	              <td class="fw-bold bg-success text-light" th:text="${tc.name}"></td>
	              <td class="bg-secondary text-light" th:text="${tc.description}"></td>
	              <td class="text-center" th:text="${tc.period}"></td>
	              <td class="text-center" th:text="${tc.year}"></td>
	              <td class="fw-bold text-center" th:text="${tc.cfu}"></td>
	              <td class="text-center" th:text="${tc.website}"></td>
	            </tr>
	          </tbody>
	      </table>
	</div>
		


		
			
		
			
</html>		
